@import "../../styles/all.css";

$Breakpoint-parallax: 1020px;

.title {
  display: flex;
  flex-direction: column;
}

.parallax-container-wrapper {
  height: calc(2em * $line-height-h1);

  overflow: hidden;

  @include h1-responsive-font;
}

.parallax-container {
  position: absolute;
  left: 0;

  width: 100vw;

  @media screen and (width < $Breakpoint-parallax) {
    display: none;
  }
}

.parallax-fallback {
  @media screen and (width > $Breakpoint-parallax) {
    display: none;
  }

  text-align: center;
}

.parallax:last-child {
  align-self: flex-end;
}

.parallax {
  white-space: nowrap;
}

.parallax:last-child {
  text-align: right;
}

.copy {
  position: relative;

  margin-top: $spacing-224;

  @include Breakpoint-mobileOnly {
    margin-top: $spacing-136;
  }
}
