@import "../../styles/all.css";

.root {
  text-decoration: none;
}

.image {
  height: 352px;

  @include Breakpoint-mobileOnly {
    height: 136px;
    max-width: 100%;
  }
}

.author {
  margin-top: $spacing-20;

  @include Breakpoint-mobileOnly {
    margin-top: $spacing-12;
  }
}

.title {
  margin-top: $spacing-32;

  @include Breakpoint-mobileOnly {
    margin-top: $spacing-20;
  }
}

.description {
  margin-top: $spacing-20;

  @include Breakpoint-mobileOnly {
    margin-top: $spacing-12;
  }
}
