@import "../../styles/all.css";

.root {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  width: 100%;

  margin-bottom: calc($spacing-224 + (0.7 * 140px));

  @include Breakpoint-mobileOnly {
    flex-direction: column;

    margin-bottom: $spacing-136;
  }
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

.reach {
  max-width: $four-columns;
}

.lets-talk {
  margin-bottom: $spacing-52;

  @include Breakpoint-tabletOnly {
    margin-bottom: $spacing-32;
  }

  @include Breakpoint-mobileOnly {
    margin-bottom: $spacing-32;
  }
}

.link {
  margin-top: $spacing-32;
  margin-bottom: $spacing-32;

  span {
    font-size: $font-size-body;
  }
}

.wave-desktop {
  position: relative;

  display: block;

  height: 100%;

  margin-left: calc(75% * -1);

  * > *:last-child {
    transform: translateY(0);
  }

  @include Breakpoint-mobileOnly {
    display: none;
  }
}

.wave-mobile {
  margin-right: 0;

  * {
    z-index: -1;
  }

  * > *:last-child {
    transform: translate(-20%, -20%) scale(0.6);
  }
}

.wave > *:last-child {
  @include Breakpoint-tabletAndAbove {
    width: 100%;
  }
}
