@import "../../styles/all.css";

.root {
  display: flex;
  flex-direction: row;

  width: 100%;

  margin-bottom: $spacing-224;

  @include Breakpoint-mobileOnly {
    flex-direction: column;

    margin-bottom: $spacing-136;
  }
}

.left {
  width: 50%;

  @include Breakpoint-mobileOnly {
    width: 100%;
  }
}

.right {
  width: 50%;

  @include Breakpoint-mobileOnly {
    width: 100%;
  }

  form {
    margin-top: calc($spacing-52 + 7px);
  }
}

.reach {
  max-width: $four-columns;

  @include Breakpoint-tabletAndBelow {
    max-width: $three-columns;
  }
}

.lets-talk {
  position: relative;

  margin-bottom: $spacing-52;

  @include Breakpoint-tabletOnly {
    margin-bottom: $spacing-32;
  }

  @include Breakpoint-mobileOnly {
    margin-bottom: $spacing-32;
  }
}

.link {
  margin-top: $spacing-32;
  margin-bottom: $spacing-32;

  span {
    font-size: $font-size-body;
  }
}

.wave-desktop {
  position: relative;

  display: block;

  height: 100%;

  margin-left: calc($column-spacing * -1);

  * > *:last-child {
    transform: translate(-5%, 0);
  }

  * > *:first-child {
    max-width: 260px;
    overflow: hidden;
  }

  @include Breakpoint-largeDesktopOnly {
    margin-left: calc($column-spacing * -1.5);
  }

  @include Breakpoint-tabletOnly {
    margin-left: calc($column-spacing * -1);
  }

  @include Breakpoint-mobileOnly {
    display: none;
  }
}

.wave-mobile {
  position: absolute;
  top: 0;
  right: $two-columns;

  display: block;

  height: 100%;

  @include Breakpoint-tabletAndAbove {
    display: none;
  }

  * > *:last-child {
    transform: translate(-20%, -20%) scale(0.6);
  }
}

.wave > *:last-child {
  @include Breakpoint-tabletAndAbove {
    width: 100%;
  }
}
