@import "../../styles/all.css";

.root {
  display: flex;
  flex-direction: row;

  height: 100%;

  text-decoration: none;

  @include Breakpoint-mobileOnly {
    flex-direction: column-reverse;
  }
}

.copy {
  display: flex;
  flex-direction: column;

  max-width: $five-columns;

  @include Breakpoint-mobileOnly {
    max-width: 100%;
  }
}

.image {
  width: 100%;
  height: 584px;

  max-width: calc($five-columns + $gutter);

  margin-right: calc(-1 * $column-spacing);
  margin-left: $column-spacing;

  @include Breakpoint-mobileOnly {
    height: 224px;
    max-width: 100%;
    margin: 0;
    margin-bottom: $spacing-20;
  }
}

.title {
  margin-top: $spacing-52;

  @include Breakpoint-mobileOnly {
    margin-top: $spacing-32;
  }
}

.description {
  margin-top: $spacing-32;

  @include Breakpoint-mobileOnly {
    margin-top: $spacing-20;
  }
}

.link {
  position: relative;

  height: calc(140px + 70px);

  margin-top: $spacing-52;
  margin-left: calc(-1 * $column-spacing);

  overflow: hidden;

  @include Breakpoint-mobileOnly {
    width: $three-columns;
    height: 90px;
    margin-top: $spacing-32;
    margin-right: -$gutter;
    margin-left: auto;

    & > * > *:last-child {
      transform: translateY(-25%) translateX(-25%) scale(0.6);
    }
  }

  & > * > *:last-child {
    transform: translateX(0%);
  }

  div {
    flex-direction: row-reverse;

    @include Breakpoint-mobileOnly {
      flex-direction: row;
    }
  }

  a {
    margin-right: 0;
    margin-left: $spacing-32;

    transform: translateY(70%);

    @include Breakpoint-mobileOnly {
      margin-right: $spacing-32;
      margin-left: 0;
    }
  }
}
