@import "../../styles/all.css";

.root {
  opacity: 0;

  animation: fadeUp 2s;
  animation-delay: 0.3s;
  animation-play-state: paused;
  animation-fill-mode: forwards;
}

.animate {
  animation-play-state: running;
}

@keyframes fadeUp {
  from {
    opacity: 0;

    transform: translate3d(0, 40px, 0);
  }

  to {
    opacity: 1;

    transform: translate3d(0, 0, 0);
  }
}
