@import "../../styles/all.css";

$image-height: 320px;
$image-height-mobile: calc($image-height / 2);

.root {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: $image-height;
  max-width: $four-columns;

  outline: none;

  @include Breakpoint-tabletAndAbove {
    margin-left: calc($line-height-h2 / 2);
  }

  @include Breakpoint-mobileOnly {
    height: $image-height-mobile;
    max-width: $three-columns;

    margin: 0 auto;
  }
}

.title {
  position: absolute;
  z-index: 1;

  display: inline;

  height: fit-content;

  transform: rotate(90deg) translateY(-50%);
  transform-origin: top left;
}

.image {
  width: 100%;

  img {
    filter: grayscale(100%);
  }
}

.project-content {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  opacity: 0;
}

.content {
  text-align: center;
}

.project-link {
  margin-top: $spacing-28;

  border-bottom: 2px solid white;

  cursor: pointer;

  a {
    text-decoration: none;
  }
}

.image::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: color($baby-blue alpha(84%));

  mix-blend-mode: overlay;

  transition: background-color 0.2s ease-out;

  @supports not (mix-blend-mode: overlay) {
    background-color: color($fallback-overlay alpha(40%));
  }
}

.root:hover,
.root:focus {
  @media (hover: hover) {
    .project-content {
      opacity: 1;

      transition: opacity 0.3s ease-in;
    }

    .image::after {
      background-color: color($baby-blue alpha(84%));

      mix-blend-mode: normal;

      transition: background-color 0.3s ease-in;
    }
  }
}

.description {
  max-width: 220px;

  text-align: center;
}
