@import "../../styles/colors.css";

.root {
  cursor: pointer;

  outline: none;

  text-decoration: none;
}

.content {
  border-radius: 4px;

  outline: none;
}

.primary {
  .content {
    background-color: $blue;
    box-shadow: 8px 8px 56px rgba(255, 255, 255, 0.16);

    color: white;
  }
}

.secondary {
  .content {
    background-color: white;
    border: 1px solid $blue;

    color: $blue;
  }
}

.small {
  .content {
    padding: 16px 28px;
  }
}

.medium {
  .content {
    padding: 16px 32px;
  }
}
