@import "../../styles/all.css";

.root {
  padding: $spacing-8 $spacing-32;

  background-color: $klein-blue;

  border-radius: 0;

  cursor: pointer;
  outline: none;

  text-decoration: none;
}

.root:hover > * {
  color: $baby-blue;
}

.root:hover {
  border-radius: calc($spacing-8 / 2);
}

.root.disabled {
  cursor: default;

  opacity: 0.6;
}

.root.disabled:hover > * {
  color: white;
}

.root.disabled:hover {
  border-radius: 0;
}
