@import "../../styles/all.css";

.title {
  @include Breakpoint-tabletAndAbove {
    max-width: $four-columns;
  }

  @include Breakpoint-mobileOnly {
    margin-right: auto;
  }

  margin-bottom: $spacing-56;
}

.services-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include Breakpoint-mobileOnly {
    flex-direction: column;
  }
}

.link {
  margin-bottom: $spacing-56;

  * {
    text-decoration: none;
  }
  .button {
    margin-top: $spacing-112;

    cursor: pointer;

    white-space: nowrap;

    @include Breakpoint-mobileOnly {
      margin-top: 0;
      margin-left: auto;
    }
  }

  @include Breakpoint-tabletAndAbove {
    display: none;
  }
}
