@import "../../styles/all.css";

.services {
  display: flex;
  flex-direction: column;
  margin-top: $spacing-224;

  @include Breakpoint-mobileOnly {
    margin-top: $spacing-136;
  }
}

.image {
  > div:first-child {
    position: relative;

    z-index: 0;
  }

  height: $spacing-584;
}

.strategy {
  width: 100%;

  .strategy-image {
    width: calc($four-columns + $gutter);
    margin-right: calc(-1 * $column-spacing);
    margin-left: auto;

    @include Breakpoint-tabletOnly {
      margin-right: -$gutter;
    }

    @include Breakpoint-mobileOnly {
      width: 80vw;
      height: 50vh;
      margin-left: 20vw;
    }
  }
}

.concept {
  margin-top: -$spacing-136;

  .concept-image {
    width: calc($four-columns + $gutter);
    margin-left: calc(-1 * $column-spacing);

    @include Breakpoint-tabletOnly {
      margin-left: -$gutter;
    }

    @include Breakpoint-mobileOnly {
      width: 90vw;
      height: 35vh;
      margin-left: -$gutter;
    }
  }

  @include Breakpoint-mobileOnly {
    margin-top: calc($spacing-224 + $spacing-52);
  }
}

.design {
  width: 100%;

  .design-image {
    width: calc($four-columns + $gutter);
    margin-right: calc(-1 * $column-spacing);
    margin-left: auto;

    @include Breakpoint-tabletOnly {
      margin-right: -$gutter;
    }

    @include Breakpoint-mobileOnly {
      width: 55vw;
      height: 30vh;
      margin-right: -$mobile-padding;
      margin-left: auto;
    }
  }

  @include Breakpoint-mobileOnly {
    margin-top: calc($spacing-224 + $spacing-84);
  }
}

.code {
  width: 100%;

  .code-image {
    width: $four-columns;
    margin-left: calc(-1 * $column-spacing);

    @include Breakpoint-tabletOnly {
      margin-left: -$gutter;
    }

    @include Breakpoint-mobileOnly {
      width: 65vw;
      height: 30vh;
      margin-left: -$mobile-padding;
    }
  }

  @include Breakpoint-mobileOnly {
    margin-top: calc($spacing-224 + $spacing-84);
  }
}

.growth {
  width: 100%;

  .growth-image {
    width: calc($four-columns + $gutter);
    margin-right: calc(-1 * $column-spacing);
    margin-left: auto;

    @include Breakpoint-tabletOnly {
      margin-right: calc(-1 * $gutter);
    }

    @include Breakpoint-mobileOnly {
      width: 55vw;
      height: 30vh;
      margin-right: -$mobile-padding;
      margin-left: auto;
    }
  }

  @include Breakpoint-mobileOnly {
    margin-top: calc($spacing-224 + $spacing-84);
  }
}

.block {
  width: $five-columns;

  padding-top: $spacing-84;
  padding-bottom: $spacing-84;

  background-color: $klein-blue;

  .block-content {
    width: $three-columns;
    margin: 0 auto;

    text-align: left;

    h3 {
      margin-top: $spacing-20;
      margin-bottom: $spacing-32;

      @include Breakpoint-mobileOnly {
        margin-top: $spacing-12;
        margin-bottom: $spacing-20;
      }
    }

    .points {
      display: flex;
      flex-direction: column;
      margin-left: $spacing-52;

      @include Breakpoint-mobileOnly {
        margin-left: $spacing-32;
      }
    }

    @include Breakpoint-mobileOnly {
      width: 75vw;
    }
  }

  @include Breakpoint-mobileOnly {
    width: 90vw;
    padding-top: $spacing-52;
    padding-bottom: $spacing-52;
  }
}

.parallax-container {
  position: relative;

  z-index: 1;
}

.concept-image .block {
  margin-top: -$spacing-224;
  margin-left: $three-columns;

  @include Breakpoint-mobileOnly {
    margin-top: -$spacing-84;
    margin-left: 20vw;
  }
}

.strategy-image .block {
  margin-top: calc(-1 * $spacing-352);
  margin-left: calc(-1 * $three-columns);

  @include Breakpoint-mobileOnly {
    margin-top: -$spacing-136;
    margin-right: auto;
    margin-left: calc(-1 * 20vw - $mobile-padding);
  }
}

.design-image .block {
  margin-top: calc(-1 * ($spacing-352 - $spacing-84));
  margin-left: calc(-1 * $three-columns);

  @include Breakpoint-mobileOnly {
    margin-top: -$spacing-84;
    margin-left: -45vw;
  }
}

.code-image .block {
  margin-top: calc(-1 * $spacing-224 - $spacing-32);
  margin-left: calc($two-columns + $gutter);

  @include Breakpoint-mobileOnly {
    margin-top: -$spacing-84;
    margin-left: 15vw;
  }
}

.growth-image .block {
  margin-top: calc(-1 * $spacing-224);
  margin-left: calc(-1 * $three-columns);

  @include Breakpoint-mobileOnly {
    margin-top: -$spacing-52;
    margin-left: -45vw;
  }
}

.whitespace-noscript {
  height: $spacing-224;
}

.copy {
  position: relative;

  max-width: $eight-columns;
  margin: calc($spacing-224 + $spacing-136) auto 0 auto;

  @include Breakpoint-tabletOnly {
    max-width: $seven-columns;
  }

  @include Breakpoint-mobileOnly {
    margin-top: calc($spacing-352 + $spacing-136);
  }

  .above-text {
    z-index: 0;

    background-image: url(../../assets/images/wave-animation-mobile.gif);
    background-position: center center;
    background-repeat: no-repeat;

    background-size: 50% 100%;

    background-clip: text;
    color: transparent;

    font-family: $font-family-visuelt;

    font-weight: 400;

    white-space: pre-wrap;

    @include body-responsive-font;

    @include Breakpoint-tabletAndAbove {
      background-image: url(../../assets/images/wave-animation-low.gif);
    }
  }

  .under-text {
    position: absolute;

    top: 0;
    left: 0;

    z-index: -1;

    white-space: pre-wrap;
  }
}
