@import "../../styles/all.css";

.root {
  width: 100%;
  @include Breakpoint-desktopOnly {
    margin-top: calc(calc($spacing-224 - $spacing-84) * -1);
  }
}

.project-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 0;

  @include Breakpoint-mobileOnly {
    grid-template-columns: 100%;
  }

  @include Breakpoint-tabletOnly {
    column-gap: 0;
  }
}

.project-column-right {
  position: relative;

  grid-column: 2 / span 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc($spacing-352 + $spacing-584);
  margin-top: calc($spacing-20 * 2);
  margin-left: calc($column-spacing);

  @include Breakpoint-mobileOnly {
    grid-column: 1 / span 1;
    height: calc($spacing-584 + $spacing-52);
    margin-top: $spacing-84;
    margin-left: 0;
  }

  @include Breakpoint-tabletOnly {
  }
}

.project-column-left {
  position: absolute;

  grid-column: 1 / span 1;
  display: flex;
  flex-direction: column;
  /*width: 100%;*/
  height: 500px;
  margin-top: $spacing-224;
  margin-left: calc($column-spacing - $gutter / 2);

  @include Breakpoint-mobileOnly {
    position: relative;

    margin-top: $spacing-84;
    margin-left: 0;
  }
  @include Breakpoint-tabletOnly {
    margin-left: $column;
  }
}

.project-row {
  position: relative;

  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: $spacing-224;

  @include Breakpoint-mobileOnly {
    flex-direction: column;
    margin-top: $spacing-136;
  }
}

.image-row {
  position: relative;

  width: calc($five-columns + $gutter);
  height: $spacing-352;
  margin-left: calc($column-spacing * -1);

  @include Breakpoint-tabletAndBelow {
    margin-left: calc($gutter * -1);
  }

  @include Breakpoint-mobileOnly {
    width: calc(80vw);
    height: $spacing-224;
    margin-top: 0;
    margin-left: calc($mobile-padding * 4);
  }
}

.image-right {
  position: relative;
  right: 0;

  width: 100%;
  height: $spacing-352;

  @include Breakpoint-tabletOnly {
    right: 0;

    width: calc($four-columns + $gutter);
  }

  @include Breakpoint-mobileOnly {
    width: calc(80vw);
    height: $spacing-224;

    margin-top: 0;
    margin-left: calc($mobile-padding * -1);
  }
}

.image-left {
  position: relative;

  width: calc($four-columns);
  height: $spacing-352;

  @include Breakpoint-tabletOnly {
    position: relative;

    width: 85%;
  }

  @include Breakpoint-mobileOnly {
    width: calc(80vw);
    height: $spacing-224;
    margin-top: 0;
    margin-left: calc($mobile-padding * 4);
  }
}

.content-lyftonomie {
  position: relative;

  width: calc($four-columns + $gutter);
  height: $spacing-352;

  @include Breakpoint-tabletAndBelow {
    width: 100%;
    height: $spacing-224;
  }
}

.content-oncostats {
  position: relative;

  width: calc($four-columns + $gutter);
  height: $spacing-352;

  @include Breakpoint-tabletAndBelow {
    width: 100%;
    height: $spacing-352;
  }
}

.content-sioslife {
  position: relative;

  width: calc($four-columns + $gutter);
  height: $spacing-352;

  @include Breakpoint-tabletAndBelow {
    width: 100%;
    height: $spacing-224;
  }
}

.title-description {
  margin-top: $spacing-20;
}

.title {
  position: relative;
  top: $spacing-52;
  left: $column-spacing;

  width: $three-columns;

  @include Breakpoint-tabletOnly {
    left: $column;
  }

  @include Breakpoint-mobileOnly {
    left: $mobile-padding;

    width: 100%;
  }
}

.link-row {
  position: relative;
  left: calc($column-spacing);

  width: calc($three-columns + $gutter);
  height: $spacing-224;
  overflow: hidden;

  @include Breakpoint-tabletOnly {
    left: calc($gutter);

    width: calc($four-columns + $gutter);
  }

  @include Breakpoint-mobileOnly {
    left: 0;

    width: 50%;
    height: calc($spacing-84 + $spacing-20);
  }
}

.link-right {
  position: relative;
  left: calc($column-spacing + $column + $gutter / 2);

  width: calc($three-columns);
  height: $spacing-224;
  overflow: hidden;

  @include Breakpoint-tabletOnly {
    left: calc($column  + $gutter / 2);

    width: calc($three-columns + $gutter);
  }

  @include Breakpoint-mobileOnly {
    left: 0;

    width: 50%;
    height: calc($spacing-84 + $spacing-20);
  }
}

.link-left {
  position: absolute;
  top: calc($spacing-584);

  width: calc($three-columns);
  height: calc($spacing-224 + $spacing-84);
  margin-left: calc($column-spacing * -1);
  overflow: hidden;

  @include Breakpoint-tabletOnly {
    left: calc($gutter);
  }

  @include Breakpoint-mobileOnly {
    position: relative;
    top: 0;

    width: 50%;
    height: $spacing-136;
    margin-left: 0;
  }
}

.wave-link-row {
  position: absolute;
  top: calc($spacing-52 * 2 + 2 * $spacing-20 + $spacing-12);

  @include Breakpoint-mobileOnly {
    top: calc($spacing-52);
  }
}

.wave-link-right {
  position: relative;
  top: calc($spacing-52 * 2);

  @include Breakpoint-mobileOnly {
    top: calc($spacing-52);
  }
}
