@import "../../styles/all.css";

.root {
  @include Breakpoint-desktopOnly {
    margin-top: calc(calc($spacing-224 - $spacing-84) * -1);
  }
}

.project {
  display: flex;
  flex-direction: column;
  width: 100%;

  margin-top: $spacing-224;

  @include Breakpoint-mobileOnly {
    margin-top: $spacing-136;
  }
}

.title-image {
  position: relative;

  display: flex;
  flex-direction: row;
  margin-bottom: $spacing-84;

  @include Breakpoint-tabletAndBelow {
    flex-direction: column;
  }
}

.title {
  margin-bottom: $spacing-52;

  @include Breakpoint-tabletOnly {
    margin-bottom: 0;

    transform: translateY(100%);
  }
}

.title > *:last-child {
  margin-top: $spacing-20;
}

.right-image-wrapper {
  position: relative;

  display: flex;
  flex-direction: row;

  margin-left: auto;

  @include Breakpoint-mobileOnly {
    flex-direction: column-reverse;
  }
}

.link {
  position: absolute;
  top: 0;

  align-self: center;

  @include Breakpoint-desktopOnly {
    transform: translateY(
      calc(-100% + $spacing-224 + $spacing-52 + $spacing-12)
    );
  }

  @include Breakpoint-tabletOnly {
    transform: translateY(calc(-100% + $spacing-224));
  }

  span {
    margin-right: $spacing-12;

    font-size: $font-size-body-small;
  }

  @include Breakpoint-mobileOnly {
    transform: translate(-100%, calc(-100% + $spacing-84));

    a {
      display: none;
    }
  }
}

.link-mobile {
  align-self: flex-start;

  margin: $spacing-20 0 0 0;

  cursor: pointer;

  text-decoration: none;

  span {
    margin-right: $spacing-12;
  }

  @include Breakpoint-tabletAndAbove {
    display: none;
  }
}

.right-image,
.left-image {
  position: relative;
}

.right-image {
  max-height: $spacing-584;

  margin-right: calc($column-spacing * -1);

  @include Breakpoint-tabletAndBelow {
    margin-right: calc($gutter * -1);
  }

  @include Breakpoint-mobileOnly {
    margin-right: -$mobile-padding;
  }
}

.left-image {
  margin-left: calc($column-spacing * -1);

  @include Breakpoint-desktopOnly {
    margin-top: calc($spacing-224 * -1 - $spacing-20);
  }

  @include Breakpoint-tabletAndBelow {
    margin-top: -$spacing-84;
    margin-left: calc($gutter * -1);
  }

  @include Breakpoint-mobileOnly {
    margin-top: 0;
    margin-left: -$mobile-padding;
  }
}

.project.sioslife {
  margin-top: $spacing-136;

  @include Breakpoint-mobileOnly {
    margin-top: $spacing-52;
  }

  .link {
    left: calc(($three-columns * -1) - $gutter - $gutter);

    @include Breakpoint-tabletOnly {
      left: calc(($two-columns * -1) - $gutter);
    }
  }

  .right-image {
    width: calc($four-columns + $gutter);
    height: $spacing-584;

    @include Breakpoint-tabletOnly {
      width: calc(50vw + $gutter);
      height: $spacing-352;
    }

    @include Breakpoint-mobileOnly {
      width: calc(70vw + $mobile-padding);
      height: $spacing-224;
    }
  }

  .left-image {
    width: calc($six-columns + $gutter);
    height: $spacing-352;

    @include Breakpoint-tabletOnly {
      width: calc(28vw + $gutter);
      height: $spacing-352;
    }

    @include Breakpoint-mobileOnly {
      width: calc(70vw + $mobile-padding);
      height: $spacing-224;
    }
  }
}

.project.oncostats {
  .link {
    left: calc(($four-columns * -1) - $gutter - $gutter);

    @include Breakpoint-tabletOnly {
      left: calc(($three-columns * -1) - $gutter);
    }

    @include Breakpoint-mobileOnly {
      left: 100vw;

      transform: translate(100%, calc(-100% + $spacing-84)) rotate(180deg);
    }
  }

  .right-image-wrapper {
    @include Breakpoint-mobileOnly {
      width: calc(70vw + $mobile-padding);
      margin-left: -$mobile-padding;

      .link-mobile {
        margin-right: $spacing-20;
        margin-left: auto;
      }
    }
  }

  .right-image {
    width: calc($five-columns + $gutter);
    height: $spacing-584;

    @include Breakpoint-tabletOnly {
      width: calc(30vw + $gutter);
      height: $spacing-352;
    }

    @include Breakpoint-mobileOnly {
      width: calc(70vw + $mobile-padding);
      height: $spacing-224;
    }
  }

  .left-image {
    width: calc($five-columns + $gutter);
    height: $spacing-352;

    @include Breakpoint-tabletOnly {
      width: calc(48vw + $gutter);
    }

    @include Breakpoint-mobileOnly {
      width: calc(70vw + $mobile-padding);
      height: $spacing-224;
      margin-right: -$mobile-padding;
      margin-left: auto;
    }
  }
}

.project.lyftonomie {
  .link {
    left: calc(($three-columns * -1) - $gutter - $gutter);

    @include Breakpoint-tabletOnly {
      left: calc(($two-columns * -1) - $gutter);
    }

    @include Breakpoint-mobileOnly {
      left: -60vw;
    }
  }

  .right-image {
    width: calc($seven-columns + $gutter);
    height: $spacing-584;

    @include Breakpoint-tabletOnly {
      width: calc(58vw + $gutter);
      height: $spacing-352;
    }

    @include Breakpoint-mobileOnly {
      width: calc(49vw + $mobile-padding);
      height: $spacing-224;
    }
  }

  .left-image {
    width: $three-columns;

    @include Breakpoint-desktopOnly {
      margin-left: calc(calc($column-spacing + $spacing-20 + $spacing-20 + $spacing-8) * -1);
    }


    @include Breakpoint-tabletOnly {
      width: calc(20vw + $spacing-136);
      margin-top: -$spacing-136;
      margin-left: -$spacing-136;
    }

    @include Breakpoint-mobileOnly {
      width: calc(24vw + $spacing-52);
      height: auto;
      margin-top: -$spacing-136;
      margin-left: -$spacing-52;
    }
  }
}


.new-project {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;

  margin-top: $spacing-224;

  @include Breakpoint-mobileOnly {
    margin-top: $spacing-136;
  }
}

.new-title-image {
  position: relative;
  /*display: flex;
  flex-direction: row;*/
  /*margin-bottom: $spacing-84;*/
  width: $four-columns;
  /*left: $seven-columns;*/

  @include Breakpoint-tabletAndBelow {
    flex-direction: column;
  }
}

.new-title {
  position: absolute;
  top: 0;
  /*margin-bottom: $spacing-52;*/

  @include Breakpoint-tabletOnly {
    margin-bottom: 0;

    transform: translateY(100%);
  }
}

.new-image {
  width: $five-columns;
  margin-left: calc($column-spacing * -1);

  @include Breakpoint-desktopOnly {
    /*margin-top: calc($spacing-224 * -1 - $spacing-20);*/
  }

  @include Breakpoint-tabletAndBelow {
    /*margin-top: -$spacing-84;*/
    margin-left: calc($gutter * -1);
  }

  @include Breakpoint-mobileOnly {
    margin-top: 0;
    margin-left: -$mobile-padding;
  }
}

.new-link {
  /*left: $ten-columns;*/
  width: $three-columns;

  @include Breakpoint-tabletOnly {
    left: calc(($two-columns * -1) - $gutter);
  }

  @include Breakpoint-mobileOnly {
    left: -60vw;
  }
}

