@import "../../../styles/all.css";

$wave-height: 370px;
$wave-offset: calc(($wave-height / 2));

.root {
  padding-bottom: calc($wave-height / 2);

  background-color: $klein-blue;

  * {
    animation-play-state: paused !important;
  }
}

.root.animate {
  * {
    animation-play-state: running !important;
  }
}

.background {
  height: 100%;
}

.title-wrapper {
  position: relative;

  height: calc(1em * $line-height-h1);

  margin: $spacing-224 0;

  @include h1-responsive-font;

  @include Breakpoint-tabletAndBelow {
    height: 100%;

    margin: $spacing-84 0;
  }
}

.title {
  position: absolute;
  left: 0;

  width: 100%;

  white-space: nowrap;

  animation: enter 2s ease-in-out;
  animation-fill-mode: forwards;

  @include Breakpoint-tabletAndBelow {
    position: static;

    white-space: normal;
  }
}

@keyframes enter {
  0% {
    transform: translateX(0vw);
  }

  15% {
    transform: translateX(2.5vw);
  }

  75% {
    transform: translateX(-20vw);
  }

  100% {
    transform: translate(-16.5vw);
  }
}

.overlay {
  position: absolute;
  left: 0;
  z-index: 1;

  width: 100%;
  height: $wave-height;

  overflow: hidden;

  transform: translateY(-25%);
}

.wave {
  position: absolute;

  width: 6400px;
  height: $wave-height;

  background: url(../../../assets/images/white-wave.svg) repeat-x;

  backface-visibility: hidden;
  perspective: 1000;

  animation: wave 10s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
}

@keyframes wave {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-2115px);
  }
}

.copy {
  position: relative;

  z-index: 2;

  max-width: $six-columns;
}
