@import "../../styles/colors.css";
@import "../../styles/layout.css";

.root {
  display: flex;
  padding: $spacing-16;

  background-color: white;

  box-shadow: 8px 8px 28px color(black alpha(8%));
  cursor: pointer;
  outline: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.image {
  width: $spacing-56;

  margin: 0 auto;
}
