@import "../../styles/all.css";

$icon-spacing: 20px;

.root {
  position: relative;

  display: flex;
  flex-direction: row;
}

.icon {
  position: absolute;
  top: 55%;

  transform: translateY(-50%) translateX(-$icon-spacing);
}

.white {
  svg {
    fill: white;
  }
}

.dark-blue {
  svg {
    fill: $oxford-blue;
  }
}
