@import "../../styles/colors.css";
@import "../../styles/layout.css";

.root {
  display: flex;

  padding: $spacing-28;

  box-shadow: 8px 8px 28px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.image {
  width: $spacing-112;
  height: $spacing-112;
  margin: 0 auto;

  margin-bottom: $spacing-28;
}

.selected {
  background-color: rgba(87, 100, 247, 0.08);
  box-shadow: none;
}

.linkedin {
  margin: 0 auto;
  margin-top: $spacing-28;

  cursor: pointer;
}
