@import "../../styles/colors.css";
@import "../../styles/layout.css";

.root {
  display: flex;
  max-width: $two-columns;
  padding: $spacing-28;

  background-color: white;
  box-shadow: 8px 8px 28px color(black alpha(8%));

  cursor: pointer;
  outline: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.image {
  width: $spacing-112;
  height: $spacing-112;
  margin: 0 auto;

  margin-bottom: $spacing-28;
}

.selected {
  background-color: rgba(87, 100, 247, 0.08);
  box-shadow: none;
}

.linkedin {
  margin: 0 auto;
  margin-top: $spacing-28;

  cursor: pointer;
}
