@import "../../styles/all.css";

$astherisk-desktop: $spacing-12;
$astherisk-mobile: calc($spacing-16 / 2);
$shape-size: 220px;
$shape-size-mobile: 110px;

.services {
  position: relative;

  display: flex;

  flex-direction: row;

  @include Breakpoint-mobileOnly {
    margin-bottom: $spacing-56;
  }
}

.services:not(:last-child) {
  margin-left: $spacing-12;

  @include Breakpoint-mobileOnly {
    margin-left: calc($spacing-16 / 2);
  }
}

.link {
  position: absolute;
  top: 0;
  left: $shape-size;
  z-index: 1;

  display: none;

  .button {
    margin-top: $spacing-112;

    cursor: pointer;

    text-decoration: none;
    white-space: nowrap;

    @include Breakpoint-mobileOnly {
      margin-top: 0;
      margin-left: auto;
    }
  }
}

.service-description {
  position: relative;

  display: flex;

  flex-direction: column;
}

.description {
  position: relative;

  margin-left: calc($shape-size * 0.5);

  @include Breakpoint-mobileOnly {
    margin-left: calc($shape-size-mobile * 0.5);
  }
}

.type {
  position: absolute;
  top: 0;
  left: 0;

  transform: rotate(90deg) translateY(0);
  transform-origin: top left;

  @include Breakpoint-mobileOnly {
    left: $spacing-16;
  }
}

.description-services {
  margin-left: $spacing-28;
}

.shape-container {
  opacity: 1;

  transition: opacity 0.2s ease-out;
}

.svg {
  path {
    fill: $baby-blue;
  }

  @include Breakpoint-tabletAndAbove {
    display: none;
  }

  @include Breakpoint-mobileOnly {
    width: $shape-size-mobile;
    height: $shape-size-mobile;
  }
}

.canvas {
  width: $shape-size;
  height: $shape-size;

  @include Breakpoint-mobileOnly {
    display: none;
  }
}

.image {
  position: absolute;
  top: calc($shape-size * 0.27);
  left: calc($shape-size * 0.3);

  width: calc($shape-size * 0.4);
  height: calc($shape-size * 0.4);

  @include Breakpoint-mobileOnly {
    top: calc($shape-size-mobile * 0.27);
    left: calc($shape-size-mobile * 0.3);

    width: calc($shape-size-mobile * 0.4);
    height: calc($shape-size-mobile * 0.4);
  }
}

.services:focus,
.services:active,
.services:hover {
  @media (hover: hover) {
    .link {
      display: inline-block;
    }

    .shape-container {
      transition: opacity 0.3s ease-in;
    }
  }
}
