@import "../../styles/all.css";

.root {
  padding-bottom: $spacing-224;

  @include Breakpoint-tabletOnly {
    padding-bottom: $spacing-136;
  }

  @include Breakpoint-mobileOnly {
    padding-bottom: $spacing-136;
  }
}

.title-desktopAndTablet {
  display: flex;
  flex-direction: column;

  margin-top: calc($spacing-224 - $navbar-height);
  margin-bottom: $spacing-136;

  @include Breakpoint-tabletOnly {
    margin-bottom: $spacing-84;
  }

  @include Breakpoint-mobileOnly {
    display: none;
  }
}

.title-mobile {
  max-width: 80vw;

  @include Breakpoint-mobileOnly {
    margin: $spacing-136 0;
  }

  @include Breakpoint-tabletAndAbove {
    display: none;
  }
}

.first-text {
  text-align: left;
}

.second-text-tablet {
  text-align: right;

  @include Breakpoint-desktopOnly {
    display: none;
  }
}

.second-text {
  position: relative;

  margin-top: calc($spacing-136 + $spacing-52);

  .hide-career-letter {
    position: absolute;
    top: -$spacing-52;
    right: -140px;

    width: 200px;
    height: 120px;

    background-color: white;

    transform: rotate(24deg);
  }

  svg {
    z-index: 0;

    margin-top: calc(-1 * $spacing-32 - 40px);

    margin-left: -$spacing-136;

    overflow: visible;

    text {
      fill: $oxford-blue;

      font-family: $font-family-visuelt;
      font-size: $font-size-h1;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: $line-height-h1;

      lower-font-range: $min-responsive-font-screen;
      upper-font-range: $max-responsive-font-screen;

      transform: scale(1.07);
    }
  }

  @include Breakpoint-tabletAndBelow {
    display: none;
  }
}

.wave-desktop {
  margin-top: calc(-1 * $spacing-224 + 110px);

  margin-left: calc(-1 * $column-spacing + 80px);

  .visible-wave {
    position: relative;
    z-index: 2;
  }

  .hide-wave {
    position: absolute;
    top: calc(-1 * $spacing-84 - $spacing-12);
    left: -$spacing-84;
    z-index: 1;

    svg {
      path {
        stroke: white;
        stroke-width: 200;
      }
    }
  }
}

.copy {
  position: relative;

  max-width: $eight-columns;
  margin: $spacing-136 auto 0 auto;

  @include Breakpoint-tabletOnly {
    margin: $spacing-84 auto 0 auto;
  }

  @include Breakpoint-mobileOnly {
    margin: $spacing-12 auto 0 auto;
  }
}

.wave {
  position: relative;

  @include Breakpoint-desktopOnly {
    display: none;
  }

  @include Breakpoint-tabletOnly {
    margin-top: calc(-1 * ($spacing-136 + $spacing-52));
    margin-left: calc(-1 * ($spacing-136 + $spacing-8));

    transform: scaleY(0.8) scaleX(0.8);
  }

  @include Breakpoint-mobileOnly {
    margin-top: calc(-1 * ($spacing-136 - $spacing-20));
    margin-right: calc(-1 * ($spacing-136 + 2 * $spacing-20));

    transform: rotateY(-180deg) scaleY(0.3) scaleX(0.3);
  }
}
