@import "../../styles/all.css";

.root {
  padding-bottom: $spacing-224;

  @include Breakpoint-tabletOnly {
    padding-bottom: $spacing-136;
  }

  @include Breakpoint-mobileOnly {
    padding-bottom: $spacing-136;
  }
}

.title-desktop {
  display: flex;
  flex-direction: column;

  margin-top: calc($spacing-224 - $navbar-height);
  margin-bottom: $spacing-136;

  @include Breakpoint-tabletAndBelow {
    display: none;
  }
}

.title-mobile {
  @include Breakpoint-tabletOnly {
    margin-bottom: $spacing-84;
  }

  @include Breakpoint-mobileOnly {
    margin: $spacing-84 0;
  }

  @include Breakpoint-desktopOnly {
    display: none;
  }
}

.first-text {
  text-align: left;
}

.second-text {
  text-align: right;
}

.copy {
  position: relative;

  margin: $spacing-352 auto 0 auto;
  max-width: $eight-columns;

  @include Breakpoint-mobileOnly {
    margin-top: $spacing-84;
  }
}

.wave {
  @include Breakpoint-desktopOnly {
    margin-top: calc(-1 * ($spacing-224 + $spacing-20));
    margin-left: calc(-1 * $column-spacing);
  }
  @include Breakpoint-mobileOnly {
    transform: rotateY(-180deg) scaleY(0.3) scaleX(0.3);
    margin-top: calc(-1 * $spacing-84);
    margin-right: calc(-1 * ($spacing-136 + 2 * $spacing-20));
  }

  @include Breakpoint-tabletOnly {
    transform: rotateY(-180deg) scaleY(0.8) scaleX(0.8);
    margin-top: calc(-1 * $spacing-84);
    margin-right: calc(-1 * ($spacing-136 + $spacing-8));
  }
}
