$font-family-meta-pro: ff-meta-web-pro, sans-serif;
$font-family-meta-serif-pro:  ff-meta-serif-web-pro, serif;

$font-size-h1: 84px;
$line-height-h1: 112px;
$font-size-h2: 40px;
$line-height-h2: 56px;
$font-size-body: 20px;
$line-height-body: 28px;

$font-size-h1-mobile: 40px;
$line-height-h1-mobile: 56px;
$font-size-h2-mobile: 20px;
$line-height-h2-mobile: 58px;
$font-size-body-mobile: 16px;
$line-height-body-mobile: 20px;
