$font-family-visuelt: "visuelt", "Helvetica", sans-serif;

$font-size-h1: calc(4em * 1.618);
$line-height-h1: 1.5;
$line-height-h1-px: calc(1.5 * $font-size-h1);
$font-size-h2: calc(3em * 1.618);
$line-height-h2: 1.5;
$font-size-h3: calc(2em * 1.618);
$line-height-h3: 1.5;
$font-size-body: calc(1em * 1.618);
$line-height-body: 1.618;
$font-size-body-small: 1em;
$line-height-body-small: 1.618;
