@import "../../styles/layout.css";
@import "../../styles/breakpoints.css";
@import "../../styles/variables.css";

.title {
  @include Breakpoint-desktopOnly {
    max-width: $four-columns;
  }

  @include Breakpoint-mobileOnly {
    margin-right: auto;
  }
}

.quotes {
  margin-top: $spacing-28;
  margin-left: calc($three-columns - $gutter);

  @include Breakpoint-tabletOnly {
    margin-left: 0;
  }

  @include Breakpoint-mobileOnly {
    width: 24px;
    margin-top: $spacing-56;
    margin-left: 0;
  }
}

.about {
  height: calc(5 * $line-height-h3);

  margin-top: $spacing-28;
  margin-bottom: $spacing-56;

  @include Breakpoint-desktopOnly {
    max-width: $five-columns;
  }

  margin-left: calc($three-columns + $gutter);

  @include Breakpoint-tabletOnly {
    height: calc(5 * $line-height-h3-mobile);
    margin-top: $spacing-28;
    margin-left: calc($gutter / 2);
  }

  @include Breakpoint-mobileOnly {
    height: calc(6 * $line-height-h3-mobile);
    margin-bottom: $spacing-28;
    margin-left: calc($gutter / 2);
  }
}

.cards-desktop {
  display: grid;

  grid-column-gap: calc($gutter / 2);

  grid-template-columns: 1fr 1fr 1fr 1fr;

  @include Breakpoint-mobileOnly {
    display: none;
  }
}

.partners-mobile {
  @include Breakpoint-tabletAndAbove {
    display: none;
  }
}

.cards-mobile {
  display: grid;

  grid-column-gap: calc($gutter / 2);

  grid-template-columns: 1fr 1fr 1fr;

  margin-top: $spacing-28;
}
