@import "../../styles/all.css";

:global {
  html {
    font-size: 20px;
    font-size: responsive 10px 20px;
    lower-font-range: 320px;
    upper-font-range: 2560px;
  }
}

.h1 {
  font-size: $font-size-h1;
  line-height: $line-height-h1;
}

.h2 {
  font-size: $font-size-h2;
  line-height: $line-height-h2;
}

.h3 {
  font-size: $font-size-h3;
  line-height: $line-height-h3;
}

.body {
  font-size: $font-size-body;
  line-height: $line-height-body;
}

.small-body {
  font-size: $font-size-body-small;
  line-height: $line-height-body-small;
}

.visuelt {
  font-family: $font-family-visuelt;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.white {
  color: white;
}

.oxford-blue {
  color: $oxford-blue;
}

.klein-blue {
  color: $klein-blue;
}

.baby-blue {
  color: $baby-blue;
}

.alice-blue {
  color: $alice-blue;
}
