@import "../../styles/all.css";

.root {
  display: inline-block;
}

.h1 {
  font-size: responsive 52px 224px;
  line-height: $line-height-h1;

  lower-font-range: 320px;
  upper-font-range: 2760px;
}

.h2 {
  font-size: responsive 32px 136px;
  line-height: $line-height-h2;

  lower-font-range: 320px;
  upper-font-range: 2760px;
}

.h3 {
  font-size: responsive 32px 84px;
  line-height: $line-height-h3;

  lower-font-range: 320px;
  upper-font-range: 2760px;
}

.body {
  font-size: responsive 20px 52px;
  line-height: $line-height-body;

  lower-font-range: 320px;
  upper-font-range: 2760px;
}

.small-body {
  font-size: responsive 16px 32px;
  line-height: $line-height-body-small;

  lower-font-range: 320px;
  upper-font-range: 2760px;
}

.visuelt {
  font-family: $font-family-visuelt;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.white {
  color: white;
}

.oxford-blue {
  color: $oxford-blue;
}

.klein-blue {
  color: $klein-blue;
}

.baby-blue {
  color: $baby-blue;
}

.alice-blue {
  color: $alice-blue;
}
