@import "../../styles/all.css";

.root {
  position: relative;

  width: $seven-columns;
  overflow: hidden;

  svg {
    position: absolute;

    width: 100%;
    height: 100%;
  }

  svg mask rect {
    fill: rgba(255, 255, 255, 1);
  }

  svg mask text {
    text-anchor: start;

    alignment-baseline: hanging;
    dominant-baseline: hanging;
  }

  svg > rect {
    fill: white;
    -webkit-mask: url(#mask);
    mask: url(#mask);
  }

  image {
    transform: translateX(50%);
  }

  video {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
  }
}

.tablet {
  @include Breakpoint-desktopOnly {
    display: none;
  }

  @include Breakpoint-tabletOnly {
    display: block;
  }
}

.desktop {
  @include Breakpoint-tabletAndBelow {
    display: none;
  }

  @include Breakpoint-desktopOnly {
    display: block;
  }
}
