@import "../../styles/all.css";

.root {
  position: relative;

  width: $seven-columns;

  margin-top: -112px;

  overflow: hidden;

  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;

  svg {
    position: absolute;

    width: 100%;
    height: 100%;
  }

  svg mask rect {
    fill: white;
  }

  svg mask text {
    fill: $dark-blue;
    text-anchor: start;

    alignment-baseline: baseline;
    dominant-baseline: baseline;
  }

  svg > rect {
    fill: white;
    mask: url(#mask);
  }

  video {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;

    background-color: $dark-blue;

    backface-visibility: hidden;
  }
}
