@import "../../styles/all.css";

.root {
  position: relative;

  overflow: hidden;

  video {
    width: auto;
    height: auto;

    background-color: $oxford-blue;

    @supports not (mix-blend-mode: screen) {
      display: none;
    }
  }
}

.title {
  position: absolute;
  top: 0;
  left: 0;

  @include Breakpoint-mobileOnly {
    position: relative;
  }

  h1 {
    mix-blend-mode: screen;

    background: white;
    color: black;

    @supports not (mix-blend-mode: screen) {
      color: $baby-blue;
    }
  }
}
