@import "../../styles/all.css";

.root {
  display: grid;

  grid-column-gap: $spacing-28;
  grid-row-gap: $spacing-112;
  grid-template-columns: 1fr 1fr 1fr;

  margin-top: $spacing-112;

  @include Breakpoint-tabletAndBelow {
    grid-template-columns: 1fr 1fr;
  }

  @include Breakpoint-mobileOnly {
    grid-row-gap: $spacing-28;
    grid-template-columns: 1fr;
  }
}
