@import "../../styles/all.css";

.root {
  position: relative;

  display: block;

  width: 100%;

  margin-top: 0;

  background: none;

  outline: none;

  @include Breakpoint-tabletAndAbove {
    width: 100%;
  }
}

.image {
  position: relative;

  height: $spacing-352;
  margin: 0;

  & > picture > img {
    filter: grayscale(100%);

    transition: filter 500ms ease-out;
  }

  & > img {
    filter: grayscale(100%);
  }

  @include Breakpoint-tabletOnly {
    max-height: $spacing-352;
    min-height: $spacing-224;
  }

  @include Breakpoint-mobileOnly {
    width: 75vw;
    height: 75vw;

    max-width: 80vw;
  }
}

.image::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  mix-blend-mode: overlay;

  background-color: color($klein-blue alpha(52%));
  opacity: 0.52;

  transition: opacity 500ms ease-out;

  @supports not (mix-blend-mode: difference) {
    display: none;
  }
}

@include Breakpoint-tabletAndAbove {
  .root:hover,
  .root:focus,
  .root:active {
    .image > picture > img {
      filter: grayscale(0%);
    }

    .image::after {
      opacity: 0;
    }
  }
}

.description {
  margin-top: $spacing-32;

  @include Breakpoint-mobileOnly {
    margin-top: $spacing-20;
  }
}

.description.margin {
  @include Breakpoint-mobileOnly {
    padding-left: $gutter;
  }
}

.name {
  text-align: left;

  @include Breakpoint-mobileOnly {
    margin-top: $spacing-20;
  }
}

.position {
  margin-top: $spacing-12;

  text-align: left;

  @include Breakpoint-mobileOnly {
    margin-top: calc($spacing-8 * 0.5);
  }
}
