@import "../../styles/all.css";

.root {
  background-color: white;

  outline: none;
}

.image-wrapper {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.image {
  filter: grayscale(100%);

  overflow: hidden;

  transition: filter 0.2s linear;
}

.rect {
  position: absolute;
  z-index: 1;

  width: 100%;
  height: 100%;

  mix-blend-mode: overlay;

  background-color: $lavender;
  opacity: 0.84;

  @supports not (mix-blend-mode: difference) {
    display: none;
  }
}

.root:hover,
.root:focus,
.root:active {
  @media (hover: hover) {
    .image {
      filter: grayscale(0%);
    }

    .rect {
      opacity: 0;

      transition: opacity 0.2s linear;
    }
  }
}

.name {
  margin-top: $spacing-56;

  text-align: left;

  @include Breakpoint-mobileOnly {
    margin-top: $spacing-28;
  }
}

.position {
  margin-top: $spacing-16;

  text-align: left;

  @include Breakpoint-mobileOnly {
    margin-top: $spacing-12;
  }
}
