@import "../../styles/all.css";

.root {
  position: relative;

  margin-top: 0;

  background: none;
  outline: none;

  @include Breakpoint-tabletAndAbove {
    width: 100%;
  }
}

.image {
  position: relative;

  height: $spacing-352;

  margin: 0;

  @include Breakpoint-tabletOnly {
    max-height: $spacing-352;
    min-height: $spacing-224;
  }

  @include Breakpoint-mobileOnly {
    width: 75vw;
    height: 75vw;

    max-width: 80vw;
  }
}

.description {
  margin-top: $spacing-32;

  @include Breakpoint-mobileOnly {
    margin-top: $spacing-20;
  }
}

.description.nameMargin {
  @include Breakpoint-mobileOnly {
    padding-left: calc($gutter / 2);
  }
}

.name {
  text-align: left;

  @include Breakpoint-mobileOnly {
    margin-top: $spacing-20;
  }
}

.position {
  margin-top: $spacing-12;

  text-align: left;

  @include Breakpoint-mobileOnly {
    margin-top: calc($spacing-8 * 0.5);
  }
}
