@import "../../styles/all.css";


.animation-container {
  position: relative;

  display: flex;
  overflow: hidden;
}

.word {
  position: absolute;
  top: 0;
  right: 0;

  opacity: 0;
}

.word.isVisible {
  opacity: 1;

  animation: push-in 0.6s;
}

.word.isHidden {
  animation: push-out 0.6s;
}



@keyframes push-in {
  0% {
    opacity: 0;

    transform: translateX(-100%);
  }

  60% {
    opacity: 1;

    transform: translateX(10%);
  }

  100% {
    opacity: 1;

    transform: translateX(0);
  }
}

@keyframes push-out {
  0% {
    opacity: 1;

    transform: translateX(0);
  }

  60% {
    opacity: 0;

    transform: translateX(110%);
  }

  100% {
    opacity: 0;

    transform: translateX(100%);
  }
}
