@import "../styles/all.css";

$tabletAndAbove-vertical-position: calc(-1 * ($spacing-168 + $spacing-56));
$mobile-vertical-position: calc(-1 * ($spacing-112 + $spacing-28));

.design {
  position: relative;

  top: $tabletAndAbove-vertical-position;
  margin-bottom: $tabletAndAbove-vertical-position;
  z-index: -1;

  @include Breakpoint-mobileOnly {
    top: $mobile-vertical-position;
    margin-bottom: $mobile-vertical-position;
  }
}
