@import "../styles/all.css";

$tabletAndAbove-vertical-position: calc(-1 * ($spacing-168 + $spacing-56));
$mobile-vertical-position: calc(-1 * ($spacing-112 + $spacing-28));

.design {
  position: relative;

  top: $tabletAndAbove-vertical-position;
  z-index: -1;

  margin-bottom: $tabletAndAbove-vertical-position;

  @include Breakpoint-mobileOnly {
    top: $mobile-vertical-position;

    margin-bottom: $mobile-vertical-position;
  }
}
.particles-content {
  position: relative;

  width: 100%;
}

.particles {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 1;

  width: 100%;
  height: 1070px;
}
