@import "../../styles/all.css";

$wave-height: 370px;
$wave-offset: calc(($wave-height / 2));
$Breakpoint-parallax: 768px;

.root {
  position: relative;

  padding-bottom: calc($wave-height - 0.2 * $wave-height);
  overflow: hidden;

  background-color: $klein-blue;
}

.title {
  margin-top: calc($spacing-224 - $navbar-height);
  margin-bottom: $spacing-84;

  @include Breakpoint-mobileOnly {
    margin-top: $spacing-84;
    margin-bottom: $spacing-52;
  }
}

.parallax-container {
  position: relative;

  height: calc(2em * $line-height-h1);

  @include h1-responsive-font;

  @media screen and (width < $Breakpoint-parallax) {
    display: none;
  }
}

.parallax-fallback {
  @media screen and (width > $Breakpoint-parallax) {
    display: none;
  }
}

.overlay {
  position: absolute;
  left: 0;

  width: 100%;
  height: $wave-height;

  overflow: hidden;
}

.wave {
  position: absolute;

  width: 6400px;
  height: $wave-height;

  background: url(../../assets/images/white-wave.svg) repeat-x;

  backface-visibility: hidden;

  animation: wave 10s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  animation-play-state: paused;

  @include Breakpoint-tabletAndAbove {
    perspective: 1000;
  }
}

.wave.animate {
  animation-play-state: running;
}

@keyframes wave {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-2115px, 0, 0);
  }
}

.copy {
  position: absolute;

  z-index: 2;

  max-width: $six-columns;
}
