@import "../../styles/layout.css";
@import "../../styles/breakpoints.css";

.root > *:not(:last-child) {
  padding-bottom: $spacing-168;

  @include Breakpoint-mobileOnly {
    padding-bottom: $spacing-112;
  }
}

.we-are {
  max-width: $six-columns;

  @include Breakpoint-tabletOnly {
    width: $five-columns;
  }

  @include Breakpoint-mobileOnly {
    margin-right: auto;
  }
}

.we-design-and-develop {
  max-width: $three-columns;

  margin-top: $spacing-56;
}

.images {
  display: flex;
  flex-direction: row;

  margin-top: $spacing-56;

  @include Breakpoint-mobileOnly {
    flex-direction: column;
    align-items: center;
  }
}

.images > *:not(:last-child) {
  @include Breakpoint-tabletAndAbove {
    margin-right: $spacing-28;
  }

  @include Breakpoint-mobileOnly {
    margin-bottom: $spacing-28;
  }
}

.focus-on-costumers {
  max-width: $four-columns;
}

.costumer-needs .left {
  @include Breakpoint-tabletAndAbove {
    max-width: $four-columns;
  }
}

.costumer-needs .right {
  @include Breakpoint-tabletAndAbove {
    max-width: $four-columns;

    margin-top: $spacing-56;
    margin-left: auto;
  }

  @include Breakpoint-mobileOnly {
    margin-top: $spacing-28;
  }
}
