@import "../../styles/all.css";

.label,
.message {
  display: flex;
  flex-direction: column;
  margin-bottom: calc($spacing-8 / 2);
}

.message {
  margin-bottom: $spacing-20;
}

.textarea {
  max-width: calc($five-columns - $spacing-20);

  padding: $spacing-12 $spacing-20;
  margin-top: $spacing-8;

  background-color: $alice-blue;
  border: none;
  color: $oxford-blue;
  outline: none;

  @include body-small-responsive-font;

  @include Breakpoint-mobileOnly {
    max-width: 100%;
  }
}

.textarea.border {
  border: 1px solid $baby-blue;
}

.input {
  padding: $spacing-12 $spacing-20;
  margin-top: $spacing-8;

  background-color: $alice-blue;
  border: 1px solid white;
  color: $oxford-blue;

  outline: none;

  @include body-small-responsive-font;
}

.input.border {
  border: 1px solid $baby-blue;
}

.button {
  text-align: right;
}

.error {
  margin-top: $spacing-8;

  opacity: 0;

  text-align: right;
}

.error > * {
  text-shadow: 0px 0px 20px rgba(255, 184, 0, 0.3);
}

.error.visible {
  opacity: 1;
}
