@import "../../styles/all.css";

.root {
  display: flex;
  justify-content: space-between;
  padding: $spacing-52 0;

  a {
    text-decoration: none;
  }
}

.root > * {
  align-self: center;
}

.brand {
  @include Breakpoint-tabletAndAbove {
    position: absolute;
    left: 50%;

    transform: translate(-50%, -25%);
  }
}

.navigation {
  display: flex;
  align-items: flex-end;

  margin-left: auto;

  a:not(:last-child) {
    margin-right: $spacing-32;

    @include Breakpoint-mobileOnly {
      margin-right: $spacing-12;
    }
  }
}
