@import "../../styles/layout.css";
@import "../../styles/breakpoints.css";
@import "../../styles/colors.css";

.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-top: $spacing-28;
}

.brand {
  text-decoration: none;
}

.links {
  display: flex;
  flex-direction: row;
}

.link {
  cursor: pointer;

  text-decoration: none;
}

.link-logo {
  height: 26px;
}

.link:not(:last-child) {
  margin-right: $spacing-28;
}

.contact-us {
  transform: translateY(calc($spacing-28 / -2));
}

.logo-svg-white {
  path {
    fill: white;
  }
}

.logo-svg-light-blue {
  path {
    fill: $light-blue;
  }
}
