@import "../../styles/all.css";

$Breakpoint-parallax: 768px;

.root {
  padding-bottom: $spacing-224;

  @include Breakpoint-tabletOnly {
    padding-bottom: $spacing-136;
  }

  @include Breakpoint-mobileOnly {
    padding-bottom: $spacing-136;
  }
}

.title {
  display: flex;
  flex-direction: column;

  margin: $spacing-136 0;

  background-image: url("../../assets/images/wave-company-hero.svg");
  background-position: center center;
  background-repeat: no-repeat;

  @include Breakpoint-tabletOnly {
    margin: $spacing-84 0;

    background-size: $spacing-584 $spacing-224;
  }

  @include Breakpoint-mobileOnly {
    margin: $spacing-84 0;

    background-size: $spacing-224 $spacing-84;
  }
}

.parallax-container {
  text-align: center;

  @media screen and (width < $Breakpoint-parallax) {
    display: none;
  }
}

.parallax-fallback {
  text-align: center;

  @media screen and (width > $Breakpoint-parallax) {
    display: none;
  }

  @include Breakpoint-mobileOnly {
    text-align: left;
  }
}

.parallax:last-child {
  align-self: flex-end;
}

.parallax {
  white-space: nowrap;
}

.copy {
  position: relative;

  margin: $spacing-224 auto 0 auto;

  @include Breakpoint-mobileOnly {
    margin-top: $spacing-136;
  }
}
