@import "../../styles/all.css";

.root {
  position: relative;

  display: inline-block;

  color: $lavender;

  background-clip: text;

  * {
    color: transparent !important;
  }
}

.root:before,
.root:after {
  content: "";

  position: absolute;
}

.root:before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
}

.root:after {
  position: absolute;
  z-index: -1;

  background-color: white;
}
