@import "../../styles/all.css";

.root {
}

.work-and-focus {
  display: flex;
  flex-direction: row;

  @include Breakpoint-mobileOnly {
    flex-direction: column;
  }
}

.work {
  @include Breakpoint-tabletAndAbove {
    max-width: $four-columns;
    margin-right: $column-spacing;
  }

  .title {
    @include Breakpoint-tabletAndAbove {
      max-width: $four-columns;
    }
  }

  .copy {
    @include Breakpoint-tabletAndAbove {
      margin-top: $spacing-56;
      margin-left: auto;
    }

    @include Breakpoint-mobileOnly {
      margin-top: $spacing-28;
    }
  }
}

.focus {
  @include Breakpoint-tabletAndAbove {
    max-width: $three-columns;
    margin: auto;
  }

  @include Breakpoint-mobileOnly {
    margin-top: $spacing-28;
    margin-left: 50%;
  }

  .title {
    @include Breakpoint-tabletAndAbove {
      max-width: $four-columns;
    }
  }

  .copy {
    @include Breakpoint-tabletAndAbove {
      margin-top: $spacing-28;
      margin-left: auto;
    }

    @include Breakpoint-mobileOnly {
      margin-top: $spacing-16;
    }
  }
}

.technologies {
  .title {
    @include Breakpoint-tabletAndAbove {
      margin-top: $spacing-112;
    }

    @include Breakpoint-mobileOnly {
      margin-top: $spacing-56;
    }
  }

  .copy {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: $spacing-56;

    @include Breakpoint-mobileOnly {
      flex-wrap: wrap;

      margin-top: 0;
    }
  }
}

.technology {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: $spacing-56;

  @include Breakpoint-mobileOnly {
    margin-top: $spacing-28;
    margin-right: $spacing-28;
  }
}

.icon {
  margin-bottom: $spacing-28;

  @include Breakpoint-mobileOnly {
    margin-bottom: $spacing-16;
  }

  img {
    max-height: 56px;
  }
}
