@import "../../styles/breakpoints.css";
@import "../../styles/layout.css";

.root {
  @include Breakpoint-desktopOnly {
    width: $content-width-desktop;

    margin: 0 auto;
  }

  @include Breakpoint-tabletOnly {
    margin: 0 $gutter;
  }

  @include Breakpoint-mobileOnly {
    max-width: $content-width-mobile;

    padding: 0 calc($gutter / 2);
    margin: 0 auto;
  }
}

.verticalSpacing {
  padding-top: $spacing-168;
  padding-bottom: $spacing-168;

  @include Breakpoint-mobileOnly {
    padding-top: $spacing-112;
    padding-bottom: $spacing-112;
  }
}
