@import "../../styles/breakpoints.css";
@import "../../styles/layout.css";

.root {
  @include Breakpoint-desktopOnly {
    width: $ten-columns;

    margin: 0 auto;
  }

  @include Breakpoint-tabletOnly {
    margin: 0 $gutter;
  }

  @include Breakpoint-mobileOnly {
    margin: 0 calc($gutter / 2);
  }
}

.verticalSpacing {
  padding-top: $spacing-168;
  padding-bottom: $spacing-168;
}