@import "../../styles/all.css";

.root {
  @include Breakpoint-desktopOnly {
    width: $content-width-desktop;

    margin: 0 auto;
  }

  @include Breakpoint-tabletOnly {
    margin: 0 $gutter;
  }

  @include Breakpoint-mobileOnly {
    padding: 0 $mobile-padding;
    margin: 0 auto;

    overflow-x: hidden;
  }
}

.verticalSpacing {
  padding-top: $spacing-224;
  padding-bottom: $spacing-224;

  @include Breakpoint-mobileOnly {
    padding-top: $spacing-136;
    padding-bottom: $spacing-136;
  }
}

.animate {
  opacity: 0;
}

.animate-start {
  animation: show 1.5s;
  animation-delay: 0.3s;
}

@keyframes show {
  0% {
    opacity: 0;

    transform: matrix(1, 0, 0, 1, 0, 70);
  }
  100% {
    opacity: 1;

    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

.animate-end {
  opacity: 1;
}
