@import "../../styles/all.css";

.root {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;

  @include Breakpoint-desktopOnly {
    width: $content-width-desktop;

    margin: 0 auto;
  }

  @include Breakpoint-tabletOnly {
    margin: 0 $gutter;
  }

  @include Breakpoint-mobileOnly {
    overflow: hidden;
  }
}

.container {
  display: flex;
  flex-direction: row;

  @include Breakpoint-mobileOnly {
    flex-direction: column;
  }
}

.challenge {
  margin-right: $spacing-52;

  @include Breakpoint-mobileOnly {
    margin-bottom: $spacing-52;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: $four-columns;
  margin-right: $spacing-32;
  margin-left: auto;

  * {
    text-decoration: none;
  }

  @include Breakpoint-tabletAndBelow {
    margin-left: 0;
  }
}

.cv {
  display: flex;
  flex-direction: row;
  align-items: center;

  * {
    font-size: responsive 20px 52px; /* Copy pasted from Typography.css */
  }

  *:first-child {
    margin-right: $spacing-8;
  }
}

.wave {
  width: $spacing-136;

  @include Breakpoint-desktopOnly {
    margin-right: calc($spacing-52 * -1);
  }

  @include Breakpoint-tabletOnly {
    margin-left: calc($spacing-52 * -1);
  }

  @include Breakpoint-mobileOnly {
    position: absolute;
    top: 55%;
    right: calc($spacing-56 * -1);

    width: $two-columns;
  }
}
