@import "../../styles/all.css";

.root {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: baseline;

  margin-bottom: calc($spacing-136 + $spacing-32 + $spacing-8);

  @include Breakpoint-mobileOnly {
    flex-direction: column;
    margin-bottom: calc($spacing-32 + $spacing-12);
  }
}

.root > *:not(:last-child) {
  margin-right: $gutter;

  @include Breakpoint-tabletOnly {
    margin-right: $spacing-52;
  }
}

.logo {
  @include Breakpoint-desktopOnly {
    width: $three-columns;
  }

  @include Breakpoint-tabletOnly {
    width: $two-columns;
  }

  @include Breakpoint-mobileOnly {
    margin-bottom: $spacing-52;
  }
}

.addresses {
  display: flex;
  flex-direction: row;

  @include Breakpoint-tabletOnly {
    justify-content: space-between;
  }

  @include Breakpoint-mobileOnly {
    margin-bottom: $spacing-52;
  }
}

.addresses > *:not(:last-child) {
  margin-right: $gutter;

  @include Breakpoint-tabletOnly {
    margin-right: $spacing-52;
  }
}

.titled-links {
  display: flex;
  flex-direction: column;

  a {
    cursor: pointer;

    text-decoration: none;
  }

  @include Breakpoint-desktopOnly {
    width: $two-columns;
  }
}

.titled-links > *:last-child {
  margin-top: $spacing-20;

  @include Breakpoint-mobileOnly {
    margin-top: $spacing-8;
  }
}

.address-link {
  display: flex;
  flex-direction: row;
  align-items: center;

  svg {
    margin-left: $spacing-12;
  }
}

.social-links {
  display: flex;
  flex-direction: row;
}

.social-links > *:not(:last-child) {
  margin-right: $spacing-20;
}

.wave {
  position: absolute;
  top: 50%;
  left: -15%;

  @include Breakpoint-mobileOnly {
    display: none;
  }
}
