@import "../../styles/all.css";

.left {
  max-width: $four-columns;
}

.right {
  max-width: $four-columns;

  margin-top: $spacing-56;
  margin-left: auto;

  @include Breakpoint-mobileOnly {
    margin-top: $spacing-28;
  }
}

.team {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.team > * {
  box-sizing: border-box;
  margin-top: $spacing-112;

  @include Breakpoint-desktopOnly {
    width: 31.6%;
  }

  @include Breakpoint-tabletOnly {
    width: 48%;
  }
}

@supports (display: grid) {
  .team {
    display: grid;
    grid-column-gap: $spacing-28;
    grid-row-gap: $spacing-112;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: $spacing-112;

    @include Breakpoint-tabletOnly {
      grid-template-columns: 1fr 1fr;
    }

    @include Breakpoint-mobileOnly {
      justify-content: center;
      grid-auto-rows: 1fr;
      grid-row-gap: $spacing-28;
      grid-template-columns: 1fr;
    }
  }

  .team > * {
    width: 100%;
    margin-top: 0;
  }
}

.challenge {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 100%;

  padding: $spacing-28;

  /* Total spacing of the team element description*/
  margin-bottom: calc(
    $spacing-56 + $spacing-16 + $line-height-h3 + $line-height-body
  );

  @include Breakpoint-mobileOnly {
    padding: $spacing-28;

    margin-bottom: calc(
      $spacing-28 + $spacing-12 + $line-height-h3-mobile + $line-height-body-mobile
    );
  }

  background-color: $baby-blue;
}

.challenge-email {
  margin-top: $spacing-16;

  a {
    text-decoration: none;
  }
}
