@import "../../styles/all.css";

.root {
  position: relative;

  display: block;

  margin-top: 0;

  background-color: white;
  outline: none;

  @include Breakpoint-tabletAndAbove {
    width: 100%;
  }
}

.image {
  position: relative;

  height: $spacing-224;

  margin: 0;

  & > picture > img {
    filter: grayscale(100%);

    transition: filter 500ms ease-out;
  }

  & > img {
    filter: grayscale(100%);
  }

  @include Breakpoint-tabletOnly {
    max-height: 400px;
    min-height: 300px;
  }

  @include Breakpoint-mobileOnly {
    width: 75vw;
    height: 75vw;

    max-width: 80vw;
  }
}

.description {
  margin-top: $spacing-32;

  @include Breakpoint-mobileOnly {
    margin-top: $spacing-20;
  }
}

.description.margin {
  @include Breakpoint-mobileOnly {
    padding-left: $gutter;
  }
}

.name {
  text-align: left;

  @include Breakpoint-mobileOnly {
    margin-top: $spacing-20;
  }
}

.position {
  margin-top: $spacing-12;

  text-align: left;

  @include Breakpoint-mobileOnly {
    margin-top: calc($spacing-8 * 0.5);
  }
}
