@import "../../styles/all.css";

.root {
  position: relative;

  display: block;

  width: 100%;

  margin-top: 0;

  background-color: white;
  outline: none;
}

.root.even {
  @include Breakpoint-mobileOnly {
    margin-right: auto;
    margin-left: calc($gutter * -1);
  }
}

.root.odd {
  @include Breakpoint-mobileOnly {
    margin-right: calc($gutter * -1);
    margin-left: auto;
  }
}

.root.margin {
  @include Breakpoint-desktopOnly {
    padding-top: $spacing-136;
  }
}

.image {
  position: relative;

  height: $spacing-224;

  margin: 0;

  img {
    filter: grayscale(100%);

    transition: filter 200ms ease-out;
  }

  @include Breakpoint-tabletOnly {
    max-height: 400px;
    min-height: 300px;
  }

  @include Breakpoint-mobileOnly {
    width: auto;
    height: 70vw;

    max-width: 80vw;
  }
}

.image div {
  position: absolute;

  top: 0;
  left: 0;

  z-index: 1;

  width: 100%;
  height: 100%;

  mix-blend-mode: overlay;

  background-color: $klein-blue;
  opacity: 0.52;

  transition: opacity 200ms ease-out;

  @supports not (mix-blend-mode: difference) {
    display: none;
  }
}

.root:hover,
.root:focus,
.root:active {
  @media (hover: hover) {
    .image {
      img {
        filter: grayscale(0%);

        transition: filter 300ms ease-in;
      }

      div {
        opacity: 0;

        transition: opacity 300ms ease-in;
      }
    }
  }
}

.description {
  margin-top: $spacing-32;

  @include Breakpoint-mobileOnly {
    margin-top: $spacing-20;
  }
}

.root.even .description {
  @include Breakpoint-mobileOnly {
    padding-left: $gutter;
  }
}

.name {
  text-align: left;

  @include Breakpoint-mobileOnly {
    margin-top: $spacing-20;
  }
}

.position {
  margin-top: $spacing-12;

  text-align: left;

  @include Breakpoint-mobileOnly {
    margin-top: calc($spacing-8 * 0.5);
  }
}
