@import "../../../styles/all.css";

$wave-height: 370px;
$wave-offset: calc(($wave-height / 2));

.root {
  position: relative;

  padding-bottom: calc($wave-height / 2);
}

.background {
  position: absolute;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-color: $klein-blue;

  animation: slide 750ms ease-in;
}

@keyframes slide {
  from {
    max-width: 0%;
  }

  to {
    max-width: 100%;
  }
}

.fadein,
.navbar nav > a {
  opacity: 0;

  animation: fadein 500ms;
  animation-delay: 750ms;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.title {
  margin-top: $spacing-136;
  margin-bottom: 205px;

  @include Breakpoint-mobileOnly {
    margin-top: $spacing-84;
  }
}

.overlay {
  position: absolute;
  left: 0;
  z-index: 2;

  width: 100%;
  height: $wave-height;

  overflow: visible;

  transform: translateY(-25%);
}

.wave {
  position: absolute;

  width: 6400px;
  height: $wave-height;

  background: url(../../../assets/images/white-wave.svg) repeat-x;

  backface-visibility: hidden;
  perspective: 1000;

  animation: wave 10s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  animation-play-state: paused;
}

.wave.animate {
  animation-play-state: running;
}

@keyframes wave {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-2115px);
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translateY($wave-offset);
  }
  50% {
    transform: translateY(calc($wave-offset + 50px));
  }
}

.copy {
  position: absolute;

  z-index: 2;

  max-width: $six-columns;

  margin-top: calc(24px * -1);
}
