@import "../../../styles/all.css";

$wave-height: 400px;
$wave-offset: calc(($wave-height / 2));

.root {
  padding-bottom: 200px;

  background-color: $klein-blue;
}

.background {
  height: 100%;
}

.title {
  margin: $spacing-224 0;
}

.overlay {
  position: absolute;
  left: 0;
  z-index: 1;

  width: 100%;
  height: $wave-height;

  overflow: hidden;

  transform: translateY(-25%);
}

.wave {
  position: absolute;

  width: 6400px;
  height: $wave-height;

  background: url(../../../assets/images/white-wave.svg) repeat-x;

  backface-visibility: hidden;
  perspective: 1000;

  animation: wave 10s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  animation-play-state: paused;
}

.wave.animate {
  animation-play-state: running;
}

@keyframes wave {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-2115px);
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translateY($wave-offset);
  }
  50% {
    transform: translateY(calc($wave-offset + 50px));
  }
}

.copy {
  position: relative;

  z-index: 2;

  max-width: $six-columns;

  mix-blend-mode: exclusion;
}
