@import "../../styles/all.css";

.root {
}

.design-matters {
  display: flex;
  flex-direction: row;

  @include Breakpoint-mobileOnly {
    flex-direction: column;
  }
}

.work {
  @include Breakpoint-tabletAndAbove {
    max-width: $four-columns;
    margin-right: $column-spacing;
  }

  .title {
    @include Breakpoint-tabletAndAbove {
      max-width: $four-columns;
    }
  }

  .copy {
    @include Breakpoint-tabletAndAbove {
      margin-top: $spacing-56;
      margin-left: auto;
    }

    @include Breakpoint-mobileOnly {
      margin-top: $spacing-28;
    }
  }
}

.focus {
  @include Breakpoint-tabletAndAbove {
    max-width: $three-columns;
    margin: auto;
  }

  @include Breakpoint-mobileOnly {
    margin-top: $spacing-28;
    margin-left: 50%;
  }

  .title {
    @include Breakpoint-tabletAndAbove {
      max-width: $four-columns;
    }
  }

  .copy {
    @include Breakpoint-tabletAndAbove {
      margin-top: $spacing-28;
      margin-left: auto;
    }

    @include Breakpoint-mobileOnly {
      margin-top: $spacing-16;
    }
  }
}
