@import "../../styles/all.css";

.root {
  margin: $spacing-28 $spacing-28 0 $spacing-28;

  @include Breakpoint-mobileOnly {
    margin: $spacing-12 calc($spacing-28 / 2) 0 calc($spacing-28 / 2);
  }
}

.image {
  max-height: 452px;

  @include Breakpoint-mobileOnly {
    max-height: $spacing-112;
  }
}
