@import "../../styles/all.css";

$image-desktop-height: 452px;
$image-tablet-height: 340px;
$image-mobile-height: $spacing-112;

.root {
  margin-top: $spacing-28;
}

.image {
  height: $image-desktop-height;

  @include Breakpoint-tabletOnly {
    height: $image-tablet-height;
  }

  @include Breakpoint-mobileOnly {
    height: $image-mobile-height;
  }
}
