@import "../../styles/all.css";

.root {
  position: relative;
}

.wave-tablet-above {
  @include Breakpoint-mobileOnly {
    display: none;
  }
}

.wave-mobile {
  @include Breakpoint-tabletAndAbove {
    display: none;
  }

  height: 780px;

  svg {
    width: 100%;
    height: 100%;
  }
}

.values {
  position: absolute;
  left: 0;
  z-index: 2;

  display: flex;

  @include Breakpoint-desktopOnly {
    top: 15%;
  }

  @include Breakpoint-tabletOnly {
    top: 5%;
  }

  @include Breakpoint-mobileOnly {
    top: 5%;
  }

  flex-direction: column;

  width: 100%;
}

.title {
  max-width: $three-columns;

  @include Breakpoint-mobileOnly {
    margin-top: $spacing-84;
  }
}

.copy {
  float: right;
  max-width: $six-columns;

  *:last-child {
    margin-top: $spacing-12;
  }

  @include Breakpoint-mobileOnly {
    margin: $spacing-32 0;
  }
}
