@import "../../styles/all.css";

.root {
  position: relative;

  display: inline-block;

  cursor: pointer;

  text-decoration: none;
}

.hover {
  &::after {
    content: "";

    position: absolute;
    bottom: 0px;
    left: 0;

    width: 100%;
    height: 2px;

    background-color: white;

    transform: scaleX(0);
    transform-origin: center left;

    transition: transform 0.3s ease-out;
  }

  &.is-active,
  &:hover {
    &::after {
      transform: scaleX(1);
    }
  }
}

.underline-white {
  &::after {
    background-color: $white;
  }
}

.underline-klein-blue {
  &::after {
    background-color: $klein-blue;
  }
}

.underline-oxford-blue {
  &::after {
    background-color: $oxford-blue;
  }
}
