@import "../../styles/all.css";

.parallax {
  position: relative;

  img {
    height: 100%;
    filter: grayscale(100%);

    transition: filter 500ms;
  }
}

@include Breakpoint-tabletAndAbove {
  .parallax:hover {
    img {
      filter: grayscale(0%);
    }
  }

  .parallax:hover::after {
    opacity: 0;
  }
}

.parallax::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: color($klein-blue alpha(52%));
  mix-blend-mode: overlay;

  opacity: 1;

  transition: opacity 500ms;
}
