@import "../../styles/all.css";

.root {
  position: relative;

  overflow: hidden;
}

.children {
  position: relative;

  z-index: 2;
}

.max-width {
  max-width: $ten-columns;
  margin: 0 auto;

  @media screen and (width < $separator-max-width) {
    margin: 0 $gutter;
  }

  @include Breakpoint-mobileOnly {
    margin: 0 calc($gutter / 2);
  }
}

.stretch-to-fit {
  position: absolute !important;
  top: -50%;
  left: -50%;

  width: 200%;
  height: 200%;

  @supports not (object-fit: cover) {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.image {
  @extend .stretch-to-fit;

  opacity: 0.9;
}

.image.hidden {
  @include Breakpoint-tabletAndAbove {
    display: none;
  }
}

.video {
  @extend .stretch-to-fit;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;

  @include Breakpoint-mobileOnly {
    display: none;
  }
}

.rect {
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 1;

  width: 100%;
  height: 100%;

  background-color: $lavender;
}

.blend-normal {
  mix-blend-mode: normal;

  @supports not (mix-blend-mode: normal) {
    background-color: color($fallback-overlay alpha(40%));
  }
}

.blend-difference {
  mix-blend-mode: difference;

  @supports not (mix-blend-mode: difference) {
    background-color: color($fallback-overlay alpha(40%));
  }
}

.color-lavender {
  background-color: color($lavender alpha(84%));
}

.color-light-blue {
  background-color: color($light-blue alpha(28%));
}

.color-magenta {
  background-color: color($magenta alpha(84%));
}
